@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

*{
    background-color: dodgerblue;
}
html,body{
    height: 100%;
    width: 100%;
}
header{
    font-family: 'Fredoka', sans-serif;
    color: #FAB201;
    font-size: 100px;
    text-align: center;
    -webkit-text-stroke: 10px white;
}

.game{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}
.box{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px silver;
}
.game-container{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: 110px 110px 110px;
   
}
footer{
    /* height: 100%;
    width: 100%; */
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 80%;
    left: 38%;
}