@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

*{
    background-color: dodgerblue;
}
header{
    font-family: 'Fredoka', sans-serif;
    color: #FAB201;
    font-size: 100px;
    text-align: center;
    padding-top: 100px;
    -webkit-text-stroke: 10px white;
}

.game{
    height: 100px;
    width: 100px;
}
.box{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px silver;
}
.game-container{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: 110px 110px 110px;
    padding-left: 700px;
    padding-top: 160px;
}
footer{
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: 30px;
    margin-top: 290px;
    margin-left: 580px;
}